@model MvcMovieDB.Models.Movie

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <h4>Movie</h4>
    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-lable col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => Model.Title, new { htmlAttribute = new { @class = "form-control" } })
        </div>
    </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-lable col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.Price, new { htmlAttribute = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Genre, htmlAttributes: new { @class = "control-lable col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.Genre, new { htmlAttribute = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ReleaseDate, htmlAttributes: new { @class = "control-lable col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => Model.ReleaseDate, new { htmlAttribute = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2">
                <input type="submit" value="Save" class="btn-default" />
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index");
        </div>
}